@import "tailwindcss";

@theme {
  --color-primary-fg: #eeeeee;
  --color-accent: #091413;
  --color-primary-10: #99fd53;
  --color-primary-25: #6fcf97;
  --color-primary-50: #2fa084;
  --color-primary-75: #1f6f5f;
  --color-secondary: #dceb52;
  --color-muted: oklch(0.556 0 0);
  --color-destructive: #ff383c;

  --font-fraunces: "Fraunces", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

body {
  @apply font-inter;
}

html {
  scroll-behavior: smooth;
}

.smooth-bounce {
  animation: smoothBounce 1s ease-in-out infinite alternate;
}

.animate-bounce-stagger {
  animation: bounceStagger 10s ease-in-out infinite;
}

@keyframes smoothBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@keyframes bounceStagger {
  0%,
  5% {
    transform: translateY(0);
  }
  12% {
    transform: translateY(-12px);
  }
  20% {
    transform: translateY(6px);
  }
  23% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
