@import "tailwindcss";

@theme {
  --color-primary-fg: #EEEEEE;
  --color-accent: #091413;
  --color-primary-10: #99FD53;
  --color-primary-25: #6FCF97;
  --color-primary-50: #2FA084;
  --color-primary-75: #1F6F5F;
  --color-secondary: #DCEB52;
  --color-muted: oklch(0.556 0 0);
  --color-destructive: #FF383C;
}